*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

:root {
    --main-dark-color: #212529;
    --secondary-dark-color: #2B2F33;
    --primary-font-size: 1rem;
    --primary-font-color: #C5C7C8;
    --primary-dark-border-color: #33383D;
    --primary-sidebar-font-color: #959799;
}

body {
    background-color: var(--main-dark-color);
}

.main-layout {
    display: flex;
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
}

.left-container {
    position: absolute;
    height: 100vh;
    min-width: 20vw;
    background-color: var(--secondary-dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    color: var(--primary-sidebar-font-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1rem;

}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-bar {
    height: 3.2rem;
    background-color: var(--secondary-dark-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    gap: 1rem;
}

.search-right-container {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.input-bar {
    outline: none;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    text-decoration: none;
    color: #919395;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

.design-bar {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
}

.toggle-view {
    display: flex;
    gap: 2px;
}

.toggle-view div {
    aspect-ratio: 1/1;
    background-color: var(--secondary-dark-color);
    border-radius: 7px;
}

.toggle-dash,
.toggle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-task {
    width: 2.2rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD413C;
    cursor: pointer;
}

/* All code of task table */

.task-table {
    border-collapse: collapse;
    color: var(--primary-font-color);
    font-family: 'Fira Sans', sans-serif;
}

.table-item {
    overflow: hidden;
}

.table-item td {
    border: 1px solid var(--primary-dark-border-color);
    background-color: var(--secondary-dark-color);
    padding: .9rem;
}

.task-name>* {
    padding: 0 0 0 2rem !important;
}

.task-tags,
.task-assign-name {
    width: 15%;
}

.task-hours,
.task-due-date {
    width: 13%;
}


.empty {
    height: 12px;
}

.pointer {
    cursor: pointer;
}

.task-add-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: #212529;
    border-radius: 10px;
    border: 2px solid var(--primary-dark-border-color);
    color: var(--primary-font-color);
    font-family: 'Fira Sans', sans-serif;
}

.task-date-popup {
    font-weight: 600;
    display: flex;
    gap: 1rem;
}